{{define "registration"}}
    {{template "header" .}}
        <main>
            <div class="registration_block">
                <input type="text" class="registration_input first_reg_input" placeholder="Имя">
                <input type="text" class="registration_input" placeholder="Фамилия">
                <input type="text" class="registration_input" placeholder="E-mail">
                <input type="password" class="registration_input" placeholder="Пароль">
                <input type="password" class="registration_input" placeholder="Повторите пароль">
                <div class="registration_btn" id="reg_btn">Регистрация</div>
            </div>
        </main>
    {{template "footer" .}}
{{end}}